RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^smartphones$ controllers/smartphones.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^smartphones$ controllers/smartphones.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^smartphones/([0-9]+)$ controllers/smartphones.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^smartphones/([0-9]+)$ controllers/smartphones.php?action=delete&id=$1
